{% import "parts/_mixins.twig" as mixins %}
<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<title>{% if title %}{{ title }}{% else %}Title{% endif %}</title>
	{# Description no longer than 155 characters #}
	<meta name="description" content="{{ description }}">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png">

	<meta name="format-detection" content="telephone=no">
	<meta name="theme-color" content="#000">
	<meta name="msapplication-navbutton-color" content="#000">
	<meta name="apple-mobile-web-app-status-bar-style" content="#000">
	{# {% include "../parts/_media-tags.twig" %} #}

	{# <link rel="preload" as="font" href="fonts/Lato-regular.woff2" type="font/woff2" crossorigin />
	<link rel="preload" as="font" href="fonts/Lato-bold.woff2" type="font/woff2" crossorigin /> #}
	
	<link rel="stylesheet" href="css/app.min.css">

</head>
<body>
	{% block content %}{% endblock %}

	<script defer src="js/bundle.min.js"></script>

</body>
</html>
