$baseFontSize: 16;
$default-font: 'Lato', sans-serif;



// UI Colors
$color-base: #E57373;
$accent-base: #fdd615;
$accent-hover: #fdef15;
$text-base: #1a1a1a;
$border-base: #e6ecf2;
$link-base: #1964b1;
$shadow-base: #004484;
