{
  "globals": {
     "$": true,
     "jQuery": true
      // "_": true,
  },
  "extends": "standard",
  "plugins": [
    "standard",
    "promise"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "allowImportExportEverywhere": true
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jquery": true
  },

  "rules": {
    "indent": ["error", 2],
    "key-spacing": "off",
    "semi": ["error", "always"],
    "no-multiple-empty-lines": "off",
    "space-before-function-paren": "off", // ["error", "always"]
    "no-unused-vars": 1,
    // "no-unused-labels": "off",
    "padded-blocks": "off",
    "no-multi-spaces": [
      1,
      {
        "exceptions": {
          "VariableDeclarator": true
        }
      }
    ]
  }
}
