.dots-preloader {
  $preloader-inner: $accent-base !default;
  $preloader-background: $white-true !default;
  $preloader-transition: 1s !default;
  $preloader-easing: ease !default;

  $site-preloader-inner: $accent-base !default;
  $site-preloader-background: $white-true !default;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  height: 100%;
  background: $preloader-background;
  opacity: 1;
  visibility: visible;
  transition: opacity $preloader-transition $preloader-easing, visibility $preloader-transition $preloader-easing;

  &._site-preloader {
    position: fixed;
    height: 100vh;
    background: $site-preloader-background;

    .dots-preloader__dots div {
      background-color: $site-preloader-inner;
    }
  }

  &._loaded {
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
  }

  &__dots {
    font-size: 20px; // preloader size
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 3.5em;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;

    div {
      width: 0.8em;
      height: 0.8em;
      border-radius: 50%;
      background-color: $preloader-inner;
      animation: dots-preloader-fade 0.8s ease-in-out alternate infinite;

      &:nth-of-type(1) {
        animation-delay: -0.4s;
      }

      &:nth-of-type(2) {
        animation-delay: -0.2s;
      }
    }
  }
}


@keyframes dots-preloader-fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
