$b: '.u-bg';

#{$b} {
  &-cover {
    @include bg-cover();
  }
  &-decor {
    @include bg-decor();
  }
  &-contain {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}
