---
title: 'Title'
description: ''
pageClass: '_page-example'
---
{% from "components/example.twig" import example as exampleComponent %}

{% extends "layouts/layout.twig" %}


{% block content %}

    {% include 'modules/site-preloader.twig' %}

    {# component loop #}
    {% for item in exampleItems %}
        {{
            exampleComponent({
                title: item.title,
                text: item.text
            })
        }}
    {% endfor %}

    {# icon #}
    <div style="font-size: 70px;">
        {{ mx.icon('behance') }}
    </div>

{% endblock %}

