---
title: 'Title'
description: ''
pageClass: '_page-example'
---
{% from "components/example.twig" import example as exampleComponent %}

{% extends "layouts/layout.twig" %}


{% block content %}

    {% include 'modules/site-preloader.twig' %}

    {# env #}
    {% if NODE_ENV == 'development' %}
        <strong style="font-size: 30px;">
            Env: {{ NODE_ENV }}
        </strong>
    {% endif %}

    {# component loop #}
    {% for item in exampleItems %}
        {{
            exampleComponent({
                title: item.title,
                text: item.text
            })
        }}
    {% endfor %}

    {# range loop #}
    {% for i in range(1, 5) -%}
        <div>{{ i }}</div>
    {%- endfor %}

    {# icon #}
    <div style="font-size: 70px;">
        {{ mx.icon('behance') }}
    </div>

{% endblock %}

