@include font-face('Arial', '../fonts/Arial/Arial', 400, italic);
@include font-face('Arial', '../fonts/Arial/Arial-Bold', bold);



// 100  Thin (Hairline)
// 200  Extra Light (Ultra Light)
// 300  Light
// 400  Normal (Regular)
// 500  Medium
// 600  Semi Bold (Demi Bold)
// 700  Bold
// 800  Extra Bold (Ultra Bold)
// 900  Black (Heavy)
