html {
  font-size: #{$root-font-size}px;
}

body {
  position: relative;
  min-width: 320px;
  height: 100%;
  font-family: $font-base;
  font-size: $font-size;
  font-weight: normal;
  line-height: $line-height;
  color: $text-base;
  background: $bg-main;
  text-rendering: geometricPrecision;
}

::selection {
  background: rgba($accent-base, .3);
  text-shadow: none;
}

::-moz-selection {
  background: rgba($accent-base, .3);
  text-shadow: none;
}

._g-wrapper {
  position: relative;
  overflow: hidden;
}

._g-outer-width {
  margin-left: auto;
  margin-right: auto;
  max-width: $outer-w;
}

._g-inner-padding {
  padding-left: $inner-pd;
  padding-right: $inner-pd;

  @include low-desktop-only {
    padding-left: $inner-pd-ld;
    padding-right: $inner-pd-ld;
  }

  @include tablet-only {
    padding-left: $inner-pd-tab;
    padding-right: $inner-pd-tab;
  }

  @include mobile {
    padding-left: $inner-pd-mob;
    padding-right: $inner-pd-mob;
  }
}

._g-visible-low-desktop {
  @include desktop-min {
    display: none !important;
  }
}

._g-visible-tablet {
  @include low-desktop-min {
    display: none !important;
  }
}

._g-visible-mobile {
  @include tablet-min {
    display: none !important;
  }
}

._g-hidden-low-desktop {
  @include low-desktop {
    display: none !important;
  }
}

._g-hidden-tablet {
  @include tablet {
    display: none !important;
  }
}

._g-hidden-mobile {
  @include mobile {
    display: none !important;
  }
}

._g-font-alt {
  font-family: $font-alt;
}

._g-alt-bg {
  background-color: $bg-alt;
}

._g-hidden {
  display: none;
}

._g-hidden-input {
  @include hidden-input();
}

._g-visually-hidden {
  @include visually-hidden();
}

._g-clearfix {
  @include clearfix();
}

._g-valign-inline {
  font-size: 0;

  &::after {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    width: 0;
  }
}

._g-tab-content {
  &:not(._active) {
    display: none;
  }
}
