html {
  --root-font-size: #{$root-font-size}px;
  font-size: #{$root-font-size}px;
}

body {
  position: relative;
  min-width: 320px;
  height: 100%;
  font-family: $font-base;
  font-size: $font-size;
  font-weight: normal;
  line-height: $line-height;
  color: $text-base;
  background: $bg-main;
  text-rendering: geometricPrecision;
}

::selection {
  background: rgba($accent-base, .3);
  text-shadow: none;
}

.g-tab {
  &._active {
    cursor: default;
  }
}

.g-tab-content {
  &:not(._active) {
    display: none;
  }
}

.g-inline-svg {
  position: relative;
  display: block;
  width: 100%;

  svg {
    @include fill-abs();
  }
}
