._g-font-alt {
  font-family: $font-alt;
}

._g-h1,
._g-h2,
._g-h3,
._g-h4,
._g-h5,
._g-h6 {
  font-weight: bold;
}

//._g-text-md {}
//
//._g-text-sm {}
//
//._g-text-xs {}

._g-editable-content {
  @include editable-text();

  h3 {
    font-size: em(22, 16);
  }

  p {
    &:not(:last-child) {
      margin-bottom: em(15, 16);
    }
  }
}
