{% import "includes/_includes.twig" as inc %}
<!DOCTYPE html>
<html lang="ru" class="🕷{% if pageClass %} {{ pageClass }}{% endif %}">
{% include 'modules/head.twig' %}
<body>
    <div class="l-page">

        {% include 'modules/site-preloader.twig' %}

        <div class="l-page-layout">
            <div class="l-header">
                {% include 'modules/header.twig' %}
            </div>

            <main class="l-main">
                {% block content %}{% endblock %}
            </main>

            <div class="l-footer">
                {% include 'modules/footer.twig' %}
            </div>
        </div>
    </div>

    <script src="js/vendors.bundle.js?rev=hash"></script>
    <script src="js/app.bundle.js?rev=hash"></script>
</body>
</html>
