{% import "helpers/_helpers.twig" as hp %} {% import "helpers/_mixins.twig" as mx %}
<!DOCTYPE html>
<html lang="ru" class="🕷">
{% include 'modules/head.twig' %}
<body>
    <div class="l-wrapper{% if pageClass %} {{ pageClass }}{% endif %}">
        {% include 'modules/site-preloader.twig' %}
        {% include 'modules/header.twig' %}
        <main class="l-main">
            {% block content %}{% endblock %}
        </main>
        {% include 'modules/footer.twig' %}
    </div>

    <script src="js/vendors.bundle.js?rev=hash"></script>
    <script src="js/app.bundle.js?rev=hash"></script>
</body>
</html>
