<div id="site-preloader" class="css-preloader _site-preloader">
    <div class="css-preloader__wrapper">
        <div class="spinner-layer">
            <div class="circle-clipper">
                <div class="circle"></div>
            </div>
            <div class="gap-patch">
                <div class="circle"></div>
            </div>
        </div>
    </div>
</div>
