<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui, shrink-to-fit=no">
    {# maximum-scale=1, user-scalable=no #}

    <meta name="MobileOptimized" content="width"/>
    <meta name="HandheldFriendly" content="true"/>
    <meta name="format-detection" content="telephone=no">


    <title>{% if title %}{{ title }}{% else %}Title{% endif %}</title> {# Title no longer than 78 characters #}
    <meta name="description" content="{{ description }}"> {# Description no longer than 155 characters #}

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

    <meta name="theme-color" content="#fff">
    <meta name="msapplication-navbutton-color" content="#fff">
    <meta name="apple-mobile-web-app-status-bar-style" content="#fff">

    {# {% include "../modules/media-tags.twig" %} #}

    {# <link rel="preload" as="font" href="fonts/Lato-regular.woff2" type="font/woff2" crossorigin />
    <link rel="preload" as="font" href="fonts/Lato-bold.woff2" type="font/woff2" crossorigin /> #}

    <link rel="stylesheet" href="css/app.min.css?rev=hash">

</head>
