<div id="site-preloader" class="css-preloader _site-preloader">
    <div class="css-preloader__wrapper">
        <div class="css-preloader__spinner-layer">
            <div class="css-preloader__circle-clipper _left">
                <div class="css-preloader__circle"></div>
            </div>
            <div class="css-preloader__gap-patch">
                <div class="css-preloader__circle"></div>
            </div>
            <div class="css-preloader__circle-clipper _right">
                <div class="css-preloader__circle"></div>
            </div>
        </div>
    </div>
</div>
