@import 'base/includes';
@import 'base/fonts';
@import 'base/supports/normalize';
@import 'base/supports/reset';
@import 'base/animations';
@import 'base/global';
@import 'base/typography';
@import 'base/_generated/_inline-svg';
@import 'vendor';

// Utils
@import 'utils/*.scss';

// Layout
@import 'layout/*.scss';

// Block
@import 'block/*.scss';

// Section
@import 'section/*.scss';
