// @include css-lock(65, 100, 768, 1200);
@mixin css-lock($min-size: 1, $max-size: 1.4, $min-width: 20, $max-width: 100, $property: font-size, $unit: px) {
  #{$property}: #{$max-size}#{$unit};
  #{$property}: calc(#{$min-size}#{$unit} + (#{$max-size} - #{$min-size}) * ((100vw - #{$min-width}#{$unit}) / (#{$max-width} - #{$min-width})));

  @media (max-width: #{$min-width}px) {
    #{$property}: #{$min-size}#{$unit};
  }

  @media (min-width: #{$max-width}px) {
    #{$property}: #{$max-size}#{$unit}
  }
}

// @include css-lock-h(65, 100, 630, 950);
@mixin css-lock-h($min-size: 1, $max-size: 1.4, $min-height: 20, $max-height: 100, $property: font-size, $unit: px) {
  #{$property}: #{$max-size}#{$unit};
  #{$property}: calc(#{$min-size}#{$unit} + (#{$max-size} - #{$min-size}) * ((100vh - #{$min-height}#{$unit}) / (#{$max-height} - #{$min-height})));

  @media (max-height: #{$min-height}px) {
    #{$property}: #{$min-size}#{$unit};
  }

  @media (min-height: #{$max-height}px) {
    #{$property}: #{$max-size}#{$unit}
  }
}

// @include css-lock-full(65, 100, 500, 768, 1920, 9600);
@mixin css-lock-full($min-size: 1, $mid-size: 1.2, $max-size: 1.4,  $min-width: 20, $mid-width: 30, $max-width: 100, $property: font-size, $unit: px) {
  #{$property}: #{$mid-size}#{$unit};

  @media only screen and (max-width: $mid-width + 'px') and (min-width: $min-width + 'px') {
    #{$property}: calc(#{$min-size}#{$unit} + (#{$mid-size} - #{$min-size}) * ((100vw - #{$min-width}#{$unit}) / (#{$mid-width} - #{$min-width})));
  }

  @media only screen and (max-width: $max-width + 'px') and (min-width: $mid-width + 'px') {
    #{$property}: calc(#{$mid-size}#{$unit} + (#{$max-size} - #{$mid-size}) * ((100vw - #{$mid-width}#{$unit}) / (#{$max-width} - #{$mid-width})));
  }

  @media (max-width: #{$min-width}px) {
    #{$property}: #{$min-size}#{$unit};
  }

  @media (min-width: #{$max-width}px) {
    #{$property}: #{$max-size}#{$unit};
  }
}


// @include css-lock-h-full(65, 100, 200, 630, 950, 1900);
@mixin css-lock-h-full($min-size: 1, $mid-size: 1.2, $max-size: 1.4,  $min-height: 20, $mid-height: 30, $max-height: 100, $property: font-size, $unit: px) {
  #{$property}: #{$mid-size}#{$unit};

  @media only screen and (max-height: $mid-height + 'px') and (min-height: $min-height + 'px') {
    #{$property}: calc(#{$min-size}#{$unit} + (#{$mid-size} - #{$min-size}) * ((100vh - #{$min-height}#{$unit}) / (#{$mid-height} - #{$min-height})));
  }

  @media only screen and (max-height: $max-height + 'px') and (min-height: $mid-height + 'px') {
    #{$property}: calc(#{$mid-size}#{$unit} + (#{$max-size} - #{$mid-size}) * ((100vh - #{$mid-height}#{$unit}) / (#{$max-height} - #{$mid-height})));
  }

  @media (max-height: #{$min-height}px) {
    #{$property}: #{$min-size}#{$unit};
  }

  @media (min-height: #{$max-height}px) {
    #{$property}: #{$max-size}#{$unit};
  }
}


//ПРИМЕРЫ:
//
//Равномерный скейл по ширине:
//$min-screen-width: 768;
//$mid-screen-width: 1920;
//
//@include css-lock(#{$min-screen-width * 100 / $mid-screen-width}, 100, $min-screen-width, $mid-screen-width);
//
//
//Равномерный скейл по ширине до максимального экрана:
//$mid-screen-width: 1920;
//$max-screen-width: 2560;
//
//@include css-lock(100, #{100 * ($max-screen-width / $mid-screen-width)}, $mid-screen-width, $max-screen-width);
//
//
//Равномерный скейл по высоте:
//$min-screen-height: 768;
//$mid-screen-height: 1920;
//
//@include tablet-min {
//  @include css-lock-(#{$min-screen-height * 100 / $mid-screen-height}, 100, $min-screen-height, $mid-screen-height);
//}
//
//
//Равномерный полный скейл по высоте:
//$min-screen-height: 630;
//$mid-screen-height: 950;
//$max-screen-height: 2000;
//
//@include tablet-min {
//  @include css-lock-h-full(#{$min-screen-height * 100 / $mid-screen-height}, 100, #{$max-screen-height * 100 / $mid-screen-height}, $min-screen-height, $mid-screen-height, $max-screen-height);
//}
//
//
//Равномерный полный скейл по ширине:
//$min-screen-width: 768;
//$mid-screen-width: 1920;
//$max-screen-width: 9000;
//
//@include css-lock-full(#{$min-screen-width * 100 / $mid-screen-width}, 100, #{$max-screen-width * 100 / $mid-screen-width}, $min-screen-width, $mid-screen-width, $max-screen-width);

